body{
    font-family: cursive;
    background-color: bisque;
}

        body {
            max-width: 75ch;
            margin: auto;
            font-family: sans-serif;
        }
        header {
            text-align: center;
        }
